/*--inicio*/

/*--importamos los tipos de letra--*/

@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Nunito:wght@400;700&family=Open+Sans:wght@300;500;700&family=Sofia+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Lalezar&family=Nunito:wght@400;700&family=Open+Sans:wght@300;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Lalezar&family=Lato:wght@300&family=Nunito:wght@400;700&family=Open+Sans:wght@300;500;700&family=Ubuntu&display=swap');


/*--configuramos los estilos INICIALES--*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

/*--configuramos el fondo principal para todo el body--*/

body {
    background-color: white;
}

/*--Header, donde va el logo y el menu de navegacion--*/

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px 10%;
    margin-top: 20px;
}

.header nav ul li {
    display: inline-block;
    padding: 0 20px;
    font-weight: bold;
}

.header .nav .menu li:hover {
    transform: scale(1.2);
    transition: 0.5;
    color: rgb(235, 232, 31);
}

.connect {
    background-color: aquamarine;
}

.logo img {
    width: 350px;
    padding: 5px;
    margin-top: 10px;
}

.menu li a {
    text-decoration: none;
    color: black;
}

/*--configuramos la noticia 1, principal, lo que primero se ve--*/

.noticia-1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    /*border: 2px solid black;*/
}

.noticia-1 h1 {
    /*border: 2px solid black;*/
    font-family: 'Lalezar', cursive;
    height: 100px;
    font-size: 100px;
}

.disenio {
    margin-top: 90px;
}

.noticia-1 a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(17, 189, 189);
    /*border: 2px solid black;*/
}

.noticia-1 .mi-nombre {
    /*border: 2px solid black;*/
    height: 40px;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
}

/*--colocamos la imagen fija. Al hacer scrooll no se mueve --*/

.noticia-1 {
    background-image: url(/img/ImagenFija1-JPG.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    height: 30em;
    border: 2px solid black;
}

/*--colocamos la noticia-2--*/

.seccion-2 {
    margin-right: 20px;
    height: 32em;
    border: 2px solid black;
}

.noticia-2 {

    width: 50%;
    margin: 150px 0 60px 400px;
    height: auto;
    border: 2px solid black;
}

.noticia-2 h2 {
    border: 2px solid black;
    font-family: 'Lalezar', cursive;
    height: 80px;
    font-size: 70px;
}

/*--subtitulo de la noticia-2--*/

.subtitulo-2 {
    width: 80%;
    margin-left: 500px;

}

.subtitulo-2 h4 {
    margin: 20px;
    font-size: 30px;
}














