/*--inicio*/

/*--importamos los tipos de letra--*/

@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Gruppo&family=Lalezar&family=Lato:wght@300&family=Nunito:wght@400;700&family=Open+Sans:wght@300;500;700&family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

/*--configuramos los estilos INICIALES--*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

/*--configuramos el fondo principal para todo el body--*/

body {
    background-color: white;
}

/*--Header, donde va el logo y el menu de navegacion--*/

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px 10%;
    margin-top: 20px;
}

/*--- configuramos menu de navegacion ---*/

.header .menu-nav ul li {
    display: inline-block;
    padding: 0 20px;
    font-weight: bold;
}

.header .menu-nav .menu li:hover {
    transform: scale(1.2);
    transition: 0.5;
    color: rgb(235, 232, 31);
}

.connect {
    background-color: aquamarine;
}

/*--- configuramos logo Mario Rios----*/

.logo img {
    width: 350px;
    padding: 5px;
    margin-top: 10px;
}

.menu li a {
    text-decoration: none;
    color: black;
}

/*--configuramos la seccion 1, principal, lo que primero se ve--*/

.noticia-1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
}

.noticia-1 h1 {
    font-family: 'Lalezar', cursive;
    height: 100px;
    font-size: 100px;
}

.disenio {
    margin-top: 90px;
}

.noticia-1 a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(17, 189, 189);
}

.noticia-1 .mi-nombre {
    height: 40px;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
}

/*--colocamos la imagen fija. Al hacer scrooll no se mueve en la seccion 1 --*/

.noticia-1 {
    background-image: url(img/ImagenFija1-JPG.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    height: 30em;
}

/*--hacemos la seccion 2--*/

.seccion-2 {
    display: flex;
    margin-right: 20px;
    height: 600px;
    margin: 0 60px 0 60px;
}

.img-seccion-2 a img{
    width: 500px;
    margin: 80px 0 60px 40px;
}

.titulo-seccion-2 {
    width: 50%;
    margin: 100px 0 60px 80px;
}

.titulo-seccion-2 h2 {
    font-family: 'Lalezar', cursive;
    height: 60px;
    font-size: 70px;
}

/*--texto de la seccion 2--*/

.titulo-seccion-2 h4 {
    width: 90%;
    height: 30px;
    margin-top: 10px ;


}

.texto-seccion-2 h4 {
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
}

.texto-seccion-2 {
    margin-top: 60px;
}

/*--- Seccion 3 ---*/

.seccion-3 {
    width: 1200px;
    height: 550px;
    margin: 30px auto;
}

.seccion-3 .imagen-seccion-3 {
    display: flex;
    margin:auto;
    width: 95%;
    height: 550px;
}

/* --- Seccion 4 -----*/

.seccion-4 {
    width: 1200px;
    height: 550px;
    margin: 30px auto;
    padding: 50px;
    background-image: url(img/img-seccion-4.jpg);
    background-size: 1300px;
    background-repeat: no-repeat;
    background-position: center ;
}

.primer-parrafo, 
.segundo-parrafo {
    width: 40%;
    text-align: justify;
    margin: 10px;
    margin-left: 50px;
}

.primer-parrafo p, 
.segundo-parrafo p {
    font-size: 17px;
    font-weight: bold;
}

.seccion-4 h3 {
    font-size: xx-large;
    font-family: 'Unbounded', cursive;
    font-weight: bold;
    margin-bottom: 30px;
}

.dispositivos figure img {
    display: flex;
    width: 50%;
    margin: -420px 0 0 550px;
}












